html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19.07px !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cocon";
  src: url("/fonts/Cocon-Regular-Font.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "BR Firma";
  src: url("/fonts/BRFirmaSemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

.btn {
  text-transform: none !important;
  color: #fff !important;
  padding: 16px 21px !important;
  border-radius: 13px 13px 13px 0px !important;
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-style: normal !important;
}

.btn--top-dist {
  background: #21a4c4 !important;
  border-radius: 8px !important;
  width: 105px;
  height: 34px;
  line-height: 19.07px !important;
  font-size: 14px !important;
  font-weight: 600;
}

.material-icons {
  display: none;
}

.swiper-pagination {
  text-align: left !important;
  padding-left: 1.4rem;
  bottom: 6rem !important;
}

@media (min-width: 960px) {
  .swiper-pagination {
    bottom: 20% !important;
    padding-left: 11.2rem;
  }
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #fff !important;
  border: 2px solid #fe96c6;
}

.swiper-pagination-bullet-active {
  background-color: #fe96c6 !important;
}

.MuiPaper-elevation1 {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.03deg, rgba(255, 255, 255, 0.95) 47.28%, rgba(254, 150, 198, 0.95) 152.37%) !important;
}
