html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19.07px !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cocon";
  src: url("/fonts/Cocon-Regular-Font.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

.btn {
  text-transform: none !important;
  color: #fff !important;
  padding: 16px 21px !important;
  border-radius: 13px 13px 13px 0px !important;
  font-family: "Gilroy" !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-style: normal !important;
}
