html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19.07px !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cocon";
  src: url("/fonts/Cocon-Regular-Font.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
